extends layout

block content
  section.breadcrumb.breadcrumb_bg
    .container
      .row
        .col-lg-12
          .breadcrumb_iner.text-center
            .breadcrumb_iner_item
              h2= title
              p
                | Home
                span /
                | #{title}

  section.sample-text-area
    .container.box_1170
      h3.text-heading #{title}
      p.sample-text
        | Beberapa agenda kegiatan di pondok pesantren kami
        
  .whole-wrap
    .container.box_1170    
      .section-top-border
        .progress-table-wrap
          .progress-table
            .table-head
              .serial No
              .country Jam
              .visit Kegiatan

            .table-row
              .serial 1
              .country 03.30 WIB
              .visit
                ul
                  li Sholat Tahajud

            .table-row
              .serial 2
              .country 04.30 WIB
              .visit
                ul
                  li Sholat Shubuh Berjamaah
                  li Bin Nazdor

            .table-row
              .serial 3
              .country 06.00 WIB
              .visit
                ul
                  li Persiapan Sekolah
                  li Makan Pagi
                  li Kitab Nababil Fiqh
            
            .table-row
              .serial 4
              .country 08.00 WIB
              .visit
                ul
                  li Sholat Dhuha Berjamaah
                  li Bil Ghoib
                  li Kitab Libabul Hadist
            
            .table-row
              .serial 5
              .country 11.45 WIB
              .visit
                ul
                  li Semaan Bil Ghoib
            
            .table-row
              .serial 6
              .country 15.00 WIB
              .visit
                ul
                  li Sholat Ashar Berjamaah
            
            .table-row
              .serial 7
              .country 15.30 WIB
              .visit
                ul
                  li Bin Nadzor
            
            .table-row
              .serial 8
              .country 17.45 WIB
              .visit
                ul
                  li Sholat Maghrib Berjamaah
            
            .table-row
              .serial 9
              .country 19.00 WIB
              .visit
                ul
                  li Kitab Aqidatul Islamiyah
                  li Makan Malam
            
            .table-row
              .serial 10
              .country 20.00 WIB
              .visit
                ul
                  li Belajar Mandiri
            
            .table-row
              .serial 11
              .country 21.30 WIB
              .visit
                ul
                  li Tafsir Kitab Kuning
            
            .table-row
              .serial 12
              .country 22.30 WIB
              .visit
                ul
                  li Istirahat
