extends layout

block content
  section.breadcrumb.breadcrumb_bg
    .container
      .row
        .col-lg-12
          .breadcrumb_iner.text-center
            .breadcrumb_iner_item
              h2= title
              p
                | Home
                span /
                | Galeri

  section.special_cource.padding_top(style="margin-top: -80px;")
    .container
      .row.gallery-item

        .col-md-4
          a.img-pop-up(href='img/gallery/gal1.jpeg')
            .single-gallery-image(style='background: url(img/gallery/gal1.jpeg);')
        .col-md-4
          a.img-pop-up(href='img/gallery/gal2.jpeg')
            .single-gallery-image(style='background: url(img/gallery/gal2.jpeg);')
        .col-md-4
          a.img-pop-up(href='img/gallery/gal3.jpeg')
            .single-gallery-image(style='background: url(img/gallery/gal3.jpeg);')

        .col-md-6
          a.img-pop-up(href='img/gallery/gal4.jpeg')
            .single-gallery-image(style='background: url(img/gallery/gal4.jpeg);')
        
        
        .col-md-4
          a.img-pop-up(href='img/gallery/gal5.jpeg')
            .single-gallery-image(style='background: url(img/gallery/gal5.jpeg);')
        .col-md-4
          a.img-pop-up(href='img/gallery/gal6.jpeg')
            .single-gallery-image(style='background: url(img/gallery/gal6.jpeg);')
        .col-md-4
          a.img-pop-up(href='img/gallery/gal7.jpeg')
            .single-gallery-image(style='background: url(img/gallery/gal7.jpeg);')

  nav.blog-pagination.justify-content-center.d-flex(style='margin-bottom: 100px;')
    ul.pagination
      li.page-item
        a.page-link(href='#', aria-label='Previous')
          i.ti-angle-left
      li.page-item
        a.page-link(href='#') 1
      li.page-item.active
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#', aria-label='Next')
          i.ti-angle-right