extends layout

block content
  section.breadcrumb.breadcrumb_bg
    .container
      .row
        .col-lg-12
          .breadcrumb_iner.text-center
            .breadcrumb_iner_item
              h2= title
              p
                | Home
                span /
                | Kontak

  section.contact-section.section_padding
    .container
      .d-none.d-sm-block.mb-5.pb-4
        #map(style='height: 480px;')
        script.
          function initMap() {
            var uluru = {lat: -7.811240, lng: 112.701040};
            var grayStyles = [
              {
                featureType: "all",
                stylers: [
                  { saturation: -90 },
                  { lightness: 50 }
                ]
              },
              {
                elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]
              }
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -7.811240, lng: 112.701040},
              zoom: 9,
              styles: grayStyles,
              scrollwheel:  false
            });
          }

        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDCl0M4XFLxQAVllJi2ZJNyBBwhe1DLoww&callback=initMap')
        
      .row
        .col-12
          h2.contact-title Ada yang perlu ditanyakan
        .col-lg-8
          form#contactForm.form-contact.contact_form(action='#', method='post', novalidate='novalidate')
            .row
              .col-12
                .form-group
                  textarea#message.form-control.w-100(name='message', cols='30', rows='9', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Message'", placeholder='Enter Message')
              .col-sm-6
                .form-group
                  input#name.form-control(name='name', type='text', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter your name'", placeholder='Enter your name')
              .col-sm-6
                .form-group
                  input#email.form-control(name='email', type='email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email address'", placeholder='Enter email address')
              .col-12
                .form-group
                  input#subject.form-control(name='subject', type='text', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Subject'", placeholder='Enter Subject')
            .form-group.mt-3
              button.button.button-contactForm.btn_1(type='submit') Send Message

        .col-lg-4
          .media.contact-info
            span.contact-info__icon
              i.ti-home
            .media-body
              h3 Jl. Gunting Kidul, Sentul, Purwodadi.
              p Pasuruan, Jawa Timur 67163
          .media.contact-info
            span.contact-info__icon
              i.ti-tablet
            .media-body
              h3 +62 8233 4093 822
              p Setiap Hari Online
          .media.contact-info
            span.contact-info__icon
              i.ti-email
            .media-body
              h3 karomatulquran@gmail.com
              p Kirim pesan kamu ke email kami.
