doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Ahmad Ardiansyah')
    meta(name='keywords', content='')
    meta(name='description', content='')
    title Karomatul Qur'an
    link(rel='icon', href='img/logo_kq.png')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/themify-icons.css')
    link(rel='stylesheet', href='css/flaticon.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/slick.css')
    link(rel='stylesheet', href='css/style.css')
  body
    header.main_menu.single_page_menu
      .container
        .row.align-items-center
          .col-lg-12
            nav.navbar.navbar-expand-lg.navbar-light
              a.navbar-brand(href='/')
                img(src='img/single_page_logo2.png', alt='logo')
              button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse.main-menu-item.justify-content-end
                ul.navbar-nav.align-items-center
                  li.nav-item.active
                    a.nav-link(href='/') Beranda
                  li.nav-item
                    a.nav-link(href='#') Berita
                  li.nav-item
                    a.nav-link(href='#') Galeri
                  li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | Tentang
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                      a.dropdown-item(href='#') Sejarah
                      a.dropdown-item(href='#') Struktur
                      a.dropdown-item(href='#') Santri
                      a.dropdown-item(href='#') Penghargaan
                  li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | Fasilitas
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                      a.dropdown-item(href='#') Single blog
                      a.dropdown-item(href='#') Elements
                  li.nav-item
                    a.nav-link(href='#') Kontak
                  li.d-none.d-lg-block
                    a.btn_1(href='#') Gabung Yuk
    
    block content
    
    footer.footer-area
      .container
        .row.justify-content-between
          .col-sm-6.col-md-4.col-xl-3
            .single-footer-widget.footer_1
              a(href='index.html')
                img(src='img/logo2.png', alt='')
              p
                | Apabila ada kritik dan saran yang dapat menjadikan kami lebih baik kirimi kami surat lewait email anda. Terimakasih.
          .col-sm-6.col-md-4.col-xl-4
            .single-footer-widget.footer_2
              h4 Hubungi Kami
              p
                | Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
              form(action='#')
                .form-group
                  .input-group.mb-3
                    input.form-control(type='text', placeholder='Enter email address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email address'")
                    .input-group-append
                      button.btn.btn_1(type='button')
                        i.ti-angle-right
              .social_icon
                a(href='#')
                  i.ti-facebook
                a(href='#')
                  i.ti-twitter-alt
                a(href='#')
                  i.ti-instagram
                a(href='#')
                  i.ti-skype
          .col-xl-3.col-sm-6.col-md-4
            .single-footer-widget.footer_2
              h4 Kontak Kami
              .contact_info
                p
                  span  Address :
                  | Jl. Gunting Kidul, Sentul, Purwodadi, Pasuruan, Jawa Timur 67163
                p
                  span  Phone :
                  |  +62 8233 4093 822
                p
                  span  Email : 
                  | info@karomatulquran.com
      .container-fluid
        .row
          .col-lg-12
            .copyright_part_text.text-center
              .row
                .col-lg-12
                  p.footer-text.m-0
                    | Copyright © 2019. All rights reserved. 
                    b Pondok Pesantren Karomatul Qur'an.
    script(src='js/jquery-1.12.1.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.magnific-popup.js')
    script(src='js/swiper.min.js')
    script(src='js/masonry.pkgd.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.nice-select.min.js')
    script(src='js/slick.min.js')
    script(src='js/jquery.counterup.min.js')
    script(src='js/waypoints.min.js')
    script(src='js/custom.js')
