extends layout

block content
  section.breadcrumb.breadcrumb_bg
    .container
      .row
        .col-lg-12
          .breadcrumb_iner.text-center
            .breadcrumb_iner_item
              h2= title
              p
                | Home
                span /
                | #{title}

  section.sample-text-area
    .container.box_1170
      h3.text-heading #{title}
      p.sample-text
        | Beberapa prestasi yang telah kami capai sebagai berikut
        
  .whole-wrap
    .container.box_1170    
      .section-top-border
        .progress-table-wrap
          .progress-table
            .table-head
              .serial No
              .country Asal Daerah
              .visit Tahun
              .percentage Jumlah

            .table-row
              .serial 01
              .country
                img(src='img/elements/f1.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage 1232412 Orang
            .table-row
              .serial 02
              .country
                img(src='img/elements/f2.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage
                .progress
                  .progress-bar.color-2(role='progressbar', style='width: 30%', aria-valuenow='30', aria-valuemin='0', aria-valuemax='100')
            .table-row
              .serial 03
              .country
                img(src='img/elements/f3.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage
                .progress
                  .progress-bar.color-3(role='progressbar', style='width: 55%', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100')
            .table-row
              .serial 04
              .country
                img(src='img/elements/f4.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage
                .progress
                  .progress-bar.color-4(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
            .table-row
              .serial 05
              .country
                img(src='img/elements/f5.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage
                .progress
                  .progress-bar.color-5(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
            .table-row
              .serial 06
              .country
                img(src='img/elements/f6.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage
                .progress
                  .progress-bar.color-6(role='progressbar', style='width: 70%', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100')
            .table-row
              .serial 07
              .country
                img(src='img/elements/f7.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage
                .progress
                  .progress-bar.color-7(role='progressbar', style='width: 30%', aria-valuenow='30', aria-valuemin='0', aria-valuemax='100')
            .table-row
              .serial 08
              .country
                img(src='img/elements/f8.jpg', alt='flag')
                | Canada
              .visit 645032
              .percentage
                .progress
                  .progress-bar.color-8(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
