extends layout

block contentBackend
  .row
    .col-lg-12
      h1= title
      p
        | Make sure to keep all page content within the 
        code #page-content-wrapper
        | .
      a#menu-toggle.btn.btn-default(href='#menu-toggle') Toggle Menu